* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  
  body {
    font-family: inter;
    width: 80%;
    margin: 0 auto;
    background:"white";
  }
  
  .all-news {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .box-header{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 22%);
    grid-gap: 10px;
   
    
  }
  .head-text {
    margin-top: -20px;
    color: #ff5100;
    cursor:pointer;
    font-size:40px;
    
  }
  
  
  .news-author {
    color: rgb(3, 43, 51);
   padding-left: 20px;
  }
  .news-published {
    color: rgb(122, 122, 122);
    padding-left: 20px;
   
  }
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  

  .App-header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
  }
  



  