* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: inter;
    width: 80%;
    margin: 0 auto;
    background: rgb(251, 254, 255);
  }
  
  .all-news {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .box-header{
  
    display: flex;
    align-items: flex-end;
    
  }
  .head-text {
    margin-top: 30px;
    color: #ff5100;

  }
  
  
  .news-author {
    color: rgb(3, 43, 51);
   padding-left: 20px;
  }
  .news-published {
    color: rgb(122, 122, 122);
    padding-left: 20px;
  
  
  }
  
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
 
  .search-title{
    width: 20%;
    height: 30px; 
    padding-left: 15px;
    border-radius: 5px solid;
    margin-left: 25px;
    
  }
  .filter-country {
 
    border-radius: 3px solid ;
    margin-left: 60%;

  }



  